body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.sidebar-nav {
  padding: 9px 0;
}

.navbar-btngroup {
  padding-left: 15px;
}

.navbar-progress {
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.navbar-meter {
  margin-top: 12px;
  height: 10px;
  width: 100px;
}

.app-loader {
  background: image-url('loader.gif');
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
}

.app .app-loader {
  display: none;
}

.playlist-item {
  cursor: pointer;
}

.track-title {
  width: 15%;
  overflow: hidden;
  white-space: nowrap;
  -webkit-animation: scroll 10s linear infinite;
}

@-webkit-keyframes scroll {
  0% { text-indent: 15%; }
  100% { text-indent: -20%; }
}

.control-timer {
  padding-left: 10px;
  cursor: pointer;
}
