extends layout

block append links
    link(rel='stylesheet', href='/stylesheets/mediaelementplayer.css')

block append scripts
    script(src='/javascripts/mediaelement-and-player.min.js')
    script(type='text/javascript', src='/javascripts/auth.js')
    script(type='text/javascript', src='/javascripts/clayer.js')
    script(type='text/javascript', src='/javascripts/main.js')
    script(type='text/javascript', src='/javascripts/vk.api.js')
    - if (everyauth.loggedIn)
        script
            var access_token = "#{everyauth.vkontakte.accessToken}";

    script#playlist-template(type='text/html')
        include templates/playlist
    script#playlist-item-template(type='text/html')
        include templates/playlist-item

block append body
    .navbar.navbar-fixed-top
        .navbar-inner
            .container-fluid
                a.brand(href="/") Clayer
                form#do_search.navbar-search.pull-left
                    input#get_search_query.search-query(type="text", placeholder="Search")
                    &nbsp;
                    a#do_search_submit(href="#")
                        i.icon-music.icon-white
                ul.nav.pull-left#player-controls
                    li: a#control-backward(href="#")
                        i.icon-backward.icon-white
                    li: a#control-playpause(href="#")
                        i.icon-play.icon-white
                    li: a#control-forward(href="#")
                        i.icon-forward.icon-white
                    li: audio#control-player(src="/mp3/test.mp3")
                div.btn-group.pull-right
                    - if (everyauth.loggedIn)
                        a(href="#",data-toggle="dropdown").btn.dropdown-toggle
                            i.icon-user
                            &nbsp;
                            != everyauth.vkontakte.user.nickname
                            &nbsp;
                            span.caret
                        ul.dropdown-menu
                            li: a(href="/logout") Logout
                    - else
                        a#do_login(href="#",data-toggle="dropdown").btn.dropdown-toggle
                            i.icon-user
                            &nbsp;
                            span#get_login Login

    .container-fluid
        .row-fluid
            .span3
                .well.sidebar-nav(style="padding: 8px 0;")
                    ul.nav.nav-list
                        li.nav-header Search
                        li.active
                            a(href="#") Current...
                        li.divider
                        li.nav-header Playlists
                        li.divider
                        li.nav-header Albums


            .span9#container
