!!!
html(lang="en")
    head
        title= title
        block links
            link(rel='stylesheet', href='/stylesheets/bootstrap.css')
            link(rel='stylesheet', href='/stylesheets/style.css')
        block scripts
            script(src='/javascripts/require-jquery.js', data-main='/javascripts/main')

    body
        block body
