!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    block scripts
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js')
        script(src='/javascripts/bootstrap.min.js')
        script(src='http://vkontakte.ru/js/api/openapi.js')
        script(src='/javascripts/clayer.js')

        //if lt IE 9
              script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")


    block body
