tr
    td.playlist-item-num
        i.nowplaying.icon-music
    td.playlist-item-artist
    td
        a.playlist-item-url.playlist-item-title(href="#")
    td.playlist-item-actions
        i.icon-plus.pull-right &nbsp;
        i.icon-bookmark.pull-right &nbsp;
        i.icon-download-alt.pull-right &nbsp;
    td.playlist-item-time
