<ul class="nav nav-list">
    <li class="nav-header">Playlists</li>
    <li><a href="#" class="search">Search</a></li>
    <li class="nav-header">Radio</li>
    <li><a href="#" class="radio-library">My Library</a></li>
    <li><a href="#" class="radio-mix">My Radiomix</a></li>
    <li><a href="#" class="radio-recommened">Recommended</a></li>
    <li><a href="#" class="radio-friends">My Friends</a></li>
    <li><a href="#" class="radio-neighbourhood">My Neighbourhood</a></li>
    <li><a href="#" class="radio-tag">Tag / Artist</a></li>
    <li class="nav-header">User</li>
    <li><a href="#" class="settings">Settings</a></li>
</ul>
