<ul class="nav nav-list">
    <li class="nav-header">Playlists</li>
    <li><a href="#" class="sidebar-search">Search</a></li>
    <li class="nav-header">Radio</li>
    <li><a href="#" class="sidebar-radio-library">My Library</a></li>
    <li><a href="#" class="sidebar-radio-library">My Radiomix</a></li>
    <li><a href="#" class="sidebar-radio-library">Recommended</a></li>
    <li><a href="#" class="sidebar-radio-library">My Friends</a></li>
    <li><a href="#" class="sidebar-radio-library">My Neighborhood</a></li>
    <li><a href="#" class="sidebar-radio-library">Tag / Artist</a></li>
    <li class="nav-header">User</li>
    <li><a href="#" class="sidebar-radio-library">Settings</a></li>
    <li><a href="#" class="sidebar-radio-library">Acoounts</a></li>
</ul>
