<div class="navbar-inner" xmlns="http://www.w3.org/1999/html">
    <div class="container-fluid">
        <a class="brand" href="/">Last player</a>
        <form class="form-search navbar-form pull-left" action="#">
            <div class="input-append">
                <input class="search-query" type="text" placeholder="Search" />
                <input class="btn" type="submit" value="Search" />
            </div>
        </form>
        <div class="widget-player"></div>
        <a class="btn pull-right login-button" data-loading-text="Logging in...">
            <i class="icon-user"></i>&nbsp;Login
        </a>
    </div>
</div>
