<ul class="nav navbar-btngroup pull-left">
    <li>
        <div class="btn-group">
            <a class="control-backward btn" href="#">
                <i class="icon-backward"></i>
            </a>
            <a class="control-playpause btn" href="#">
                <i class="icon-play"></i>
            </a>
            <a class="control-forward btn" href="#">
                <i class="icon-forward"></i>
            </a>
        </div>
    </li>
</ul>
<div class="progress navbar-progress pull-left progress-striped active" style="width: 300px;">
    <div class="bar" style="width: 0;"></div>
</div>
<div class="navbar-text pull-left">&nbsp; 00:00</div>
<ul class="nav navbar-btngroup pull-left">
    <li>
        <div class="btn-group">
            <a class="btn control-volume">
                <i class="icon-volume-up"></i>
            </a>
        </div>
    </li>
</ul>
<audio class="audio-player" autobuffer="true"></audio>
